body{
    font-family: 'Roboto', sans-serif;
   color: #434455;
    background-color: #ffffff;
   
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.span{
color: #2e2f42;
}

.first{
 font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
 color:#2e2f42;   
}

.first:hover,
.first:focus{
color:#404bbf;
}

.adress{
font-style: normal;
}

.list-first{
    font-style: normal;
line-height: 1.5;
letter-spacing: 0.02em ;
color:#434455;
}

.list-first:hover,
.list-first:focus{
color: #404bbf;
}

.section{

background-color:#2e2f42;
}

.head-first{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.button-first{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.button-first:hover,
.button-first:focus{
    background-color: #404BBF;
    cursor: pointer;
}
.unordered-list-first{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.paragraph-first{
    font-size: 16px;
    line-height: 1.5
    letter-spacing: 0.02em;
    color: #434455;
}